@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.45;
  font-family: Nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
