.text-container {
  position: absolute;
  top: 35%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 1;
  width: 95%;
  max-width: 70rem;
  color: #fff;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.text-container .title {
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: auto !important;
  max-width: 62.5rem;
  font-size: 5rem;
}

.tagline {
  font-size: 1.55rem !important;
  line-height: 1 !important;
  color: #eee !important;
}
