.mainSection {
  margin: auto;
  height: 100%;
  width: 77%;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.56);
  background-color: #07324e;
  color: #4b4b4b;
}
