.flex-gutter {
  margin-left: -0.625rem;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-row {
  -webkit-box-direction: normal;
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-cell {
  position: relative;
  min-width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-cell-auto {
  position: relative;
  min-width: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

label {
  margin-bottom: 0.4375rem;
  padding: 0;
  font-size: 1rem;
  display: block;
  font-weight: 600;
}

.form-label {
  color: #746e65;
  font-size: 0.75rem;
}

.hide {
  display: none !important;
}

.flex-gutter > [class*=' flex-'],
.flex-gutter > [class^='flex-'] {
  padding-left: 0.25rem;
}

.input-icon-group input {
  padding: 0.625rem 0.9375rem;
  width: 100%;
  height: 2.8125rem;
  border: 1px solid #d8d5d2;
  border-radius: 0.1875rem;
  background-color: #fff;
  color: #333;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  outline: none;
  cursor: pointer;
}

.input-icon-group .icon {
  position: absolute;
  top: 20%;
  font-size: 1.225rem;
}

.input-icon-group:hover .icon {
  color: #746e65;
}

.home-search-form .input-icon-group .icon {
  top: 50%;
  left: 12px;
  margin-top: -0.5625rem;
  text-transform: none;
}

.input-icon-group--left .dropdown-select,
.input-icon-group--left .input,
.input-icon-group--left input,
.input-icon-group--left select,
.input-icon-group--left textarea {
  padding-left: 2.25rem;
}
